body{
    background-image: url("../Etch-a-Sketch/images/paperImgForBackground.jpg");
    background-color: beige;
}


#container{
    width: 500px;
    height: 500px;
    display: grid;
}

.title{
    text-align: center;
    font-size: 3em;
}

.colorButton{
    padding: 2em;
}

.board{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


