body{
    background-color: beige;
}


#container{
    width: 500px;
    height: 500px;
    display: grid;
}

.title{
    text-align: center;
    font-size: 3em;
}

.colorButton{
    padding: 2em;
}

.btnContainer{
    display: flex;
    flex-direction: column;

}

.board{
    display: flex;
    justify-content: center;
    align-items: center;
}